<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Paper</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="{% static 'bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #4CAF50;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Exam Paper for {{ course.name }}</h1>
    
    <table>
        <tr>
            <th>Subject</th>
            <th>Number of Questions</th>
        </tr>
        {% for subject, total in subjects|zip:totalque %}
        <tr>
            <td>{{ subject.name }}</td>
            <td>{{ total }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>