<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="{% static 'bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">OnlineExam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/myapp/adminportal">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myapp/courses">Add course</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myapp/sub">Add Subject</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myapp/view">View Student</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myapp/addpaper">Add Paper</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myapp/paperview">Paper View</a></li>
                    <li class="nav-item"><a class="nav-link" href="/myapp/subview">Subject View</a></li>

                </ul>
                <a class="nav-link ms-auto bg-danger" href="/myapp/admin">LogOut</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2 class="text-center mb-4">Exam Results</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Course </th>

                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Score</th>
                    <th>Total Questions</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for x in re %}
                <tr>
                    <td>{{ x.student_name }}</td>
                    <td>{{ x.course_name }}</td>
                    <td>{{ x.subject_id }}</td>
                    <td>{{ x.subject_name }}</td>

                    <td>{{ x.score }}</td>
                    <td>{{ x.total_questions }}</td>
                    <td>{{ x.result_percentage }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>